html{
    height: 100%;
    line-height: 1;
}
body{
    font-family: 'Gruppo', cursive;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-color: #1e0d38;
    background-position: center;
    background-size: cover;
    color: #e6d8f8;
}
.title{
    text-align: center;
    font-family: 'Audiowide', cursive;
    text-shadow:
    0 0 5px #f3a16e,
    0 0 15px #f3a16e,
    0 0 20px #f3a16e,
    0 0 40px #f3a16e,
    0 0 60px #ff00a5,
    0 0 10px #e54769,
    0 0 98px #ff00a5;
    color: #e6d8f8;
    font-size: 1.7em;
    margin-bottom: 5px;
}
.subheading{
    text-align: center;
    text-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8,
    0 0 40px #e6d8f8,
    0 0 60px #f9fa3c,
    0 0 10px #4ed8ff,
    0 0 98px #f9fa3c;
    color: white;
    font-size: 1.4em;
    margin-top: 15px;
}
.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.optionBox{
    width: 650px;
    height: 210px;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-image:url("images/box.png");
    background-position: center;
    background-size: cover;
    box-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8,
    0 0 40px #e6d8f8;
}
#rockButton{
    background: transparent;
    border: none;
    margin-right: 15px;
}
#paperButton{
    background: transparent;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
}
#scissorsButton{
    background: transparent;
    border: none;
    margin-left: 15px;
}
.btn{
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: trasnform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.btn:hover{
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
    -webkit-transform: scale(1.5);
}
.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.yourScore{
    width: 305px;
    height: 110px;
    margin-right: 20px;
    background-image: url("images/box.png");
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8;
}
.theirScore{
    width: 305px;
    height: 110px;
    margin-left: 20px;
    background-image: url("images/box.png");
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8;
}
.yourScoreLabel{
    text-align: center;
    justify-content: center;
    border-bottom: 1px dotted white;
    padding-bottom: 10px;
    font-family: 'Audiowide', cursive;
    text-shadow:
    0 0 5px #f3a16e,
    0 0 15px #f3a16e,
    0 0 20px #f3a16e,
    0 0 10px #e54769;
    color: #e6d8f8;
}
.playerScore{
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    margin-top: -5px;
    text-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8,
    0 0 10px #4ed8ff;
}
.computerScoreLabel{
    text-align: center;
    justify-content: center;
    border-bottom: 1px dotted white;
    padding-bottom: 10px;
    font-family: 'Audiowide', cursive;
    text-shadow:
    0 0 5px #f3a16e,
    0 0 15px #f3a16e,
    0 0 20px #f3a16e,
    0 0 10px #ff00a5;
}
.computerScore{
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    margin-top: -5px;
    text-shadow: 
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8,
    0 0 10px #4ed8ff;
}
.resultBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.res{
    width: 650px;
    height: 210px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-image: url("images/box.png");
    background-position: center;
    background-size: cover;
    box-shadow:
    0 0 5px #e6d8f8,
    0 0 15px #e6d8f8,
    0 0 20px #e6d8f8,
    0 0 40px #e6d8f8;
    margin-top: 25px;
}
.computerBox{
    display: flex;
    flex-direction: column;
    border-right: 1px white dotted;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}
.computerChoiceLabel{
    text-align: center;
    padding-left: 20px;
}
.computerChoice{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: -15px;
}

